.second-section {
    background-image: url(../../assets/kittenbanner3.jpg);
    background-position: left 90%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
}

.text-dark{
    text-shadow: 0 0 4px rgba(255, 255, 255, 1);
}